@charset "UTF-8";

@font-face { 
    font-family: Ancizar Sans-regular;             /* define una fuente */
    src: url('fonts/Ancizar Sans-Regular.otf');  /* indica su ubicación */
}
  .flex-container {
	display: flex;
  }
  .indice {
	  margin-top: 44px;
	  text-align: left;
	  padding: 25px;
	  min-width: 10%;
	  width: 15%;
	  min-height: 100vh;
	  background-color: #444;
	  box-shadow: 10px 0 5px -2px #888;
	  position: fixed;
  }
  .contenido{
	  padding: 40px;
	  padding-top: 10vh;
	  padding-left: 25vw;
	  text-align: left;
	  max-width: 650px;
  }
  /*****************************************************************************************************************************/
body {      /* los estilos aplicados a una etiqueta valen para todos los casos */                                             
	background-color:#FFFFFF;                    
	background-repeat: repeat-x;
	font-family: Ancizar Sans-regular;
	margin: 0;
}


a{
	color:blue;
}
a:link#aindice{
	color: white
}
a:link {
	color: blue;
	text-decoration:none; /* para que no subraye los vínculos */
}
a:hover {    /* indica el estilo cuando el cursor está sobre el elemento */ 
	color: rgb(1, 1, 189);
	text-decoration: underline;
}

.botonMenu {      /* estilo para cada botón del menu de navegación */ 
	font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	width: 142px;
	padding:5px 10px 6px 8px;
	float: left;
	cursor: pointer;
}
.botonMenu:link {
	color:#666666;
	text-decoration: none;	/* para que no subraye los vínculos */ 
	cursor: pointer;
}
.botonMenu:hover {
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;	
	cursor:pointer;
}   
.botonMenuInicio {      /* estilo para cada botón del menu de navegación */ 
	min-width: 11%;
	width: 10%;
	font-size: 16px;
}

h1{     /* estilo para los titulares */ 
	font-family: Arial, Helvetica, sans-serif; /* la fuente se asigna según disponibilidad */
	color:rgb(8, 8, 8);
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	max-width: 640px; /* ancho máximo del párrafo */
	margin:auto;          /* margen igual a izquierda y derecha */ 
	margin-bottom:10px;
} 
h1:link {
	color:rgb(8, 8, 8);
	cursor: pointer;
	text-decoration: none;  /* para que no subraye los vínculos en los titulares*/ 
}
h2,h3,h4,h5,h6 {
	font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
	color:rgb(8, 8, 8);
	font-size: 36px;
	font-weight: normal;
	text-align: left;
	max-width: 640px;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
ul {        /* estilo para las listas */ 
	list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
	line-height: 1cm;
	margin: 0;
    padding-inline-start: 0px;
	text-align: left;
}

ul ul li {
	list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
	line-height: 1cm;
	text-align: left;
	padding-left: 20px;
}
p{
	margin-left: 20px;
	font-size: 30px;
	color: #444;
}


/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100vw; /* Full width */
	background-color:  rgb(1, 1, 68);
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:  rgb(1, 1, 68);
	overflow: hidden;
	margin: none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .navbar-right{
	  float: right;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
	background: #ddd;
	color: black;
  }
  
  /* Main content */
  .main {
	margin-top: 90px; /* Add a top margin to avoid content overlay */
  }